[submodule "vim/pack/jamesmartin/start/fzf"]
	path = vim/pack/jamesmartin/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/jamesmartin/start/fzf.vim"]
	path = vim/pack/jamesmartin/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/jamesmartin/start/vim-surround"]
	path = vim/pack/jamesmartin/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/jamesmartin/start/nerdtree"]
	path = vim/pack/jamesmartin/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
